div.GitLabCiBoard {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 6em);
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;    
    row-gap: 2em;
}