div.GlMrBoard {
    border-collapse: separate;
    border-spacing: 0.25em 1em;
    display: table;
    max-height: calc(100% - 6em);    
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;        
    width: 100%;
}