div.GlMrRow {  
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  display: table-row;
}

div.Author,
div.Progress,
div.Age {
  background-color: whitesmoke;
  color: #dadcdd;
  display: table-cell;
  opacity: 0.9;
  vertical-align: middle;
}

div.Author {
    width: 80px;  
}

div.Author img {
  height: 80px;
  width: 80px;
}

div.Progress {
    padding: 0.75em;    
    width: calc(100% - 160px - 80px - 0.5em);
}

div.Progress div.Description {
  overflow: hidden;
  white-space: nowrap;
}

div.Age {
    text-align: center;
    width: 160px;
}